$color-black: #000;
$color-white: #fff;
$color-grey: #858585;
$color-grey-2: #f5f5f5;
$color-grey-light: #f9f9f9;
$color-green: #8bc73f;
$color-green-2: #259b97;
$color-blue: #62629b;
$color-blue-2: #292d49;
$color-blue-dark: #1b2136;
$color-grey-light: #ececec;
$color-grey-light-bg: #fafafa;
$color-grey-3: #b5b5b5;
$color-grey-4: #808080;
$color-temp-black: #000;
