.hl-internship{
   padding: $spacer-5 0;

   &__aboutsec{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .hl-research{
      padding: 24px 0;
      &__left{
         flex-direction: column;
         align-items: flex-start;
      }
      &__title{
         color: rgba(0, 0, 0, 1);
      }
      p{
         color: rgba(79, 79, 79, 1);
         margin-bottom: 8px;
         a{
            color: rgba(37, 155, 151, 1);
            &:hover{
               text-decoration: underline;
               text-decoration-color: rgba(37, 155, 151, 1);
            }
         }
      }
      &__right{
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   &__testimonials{
      margin: 0 -32px;

      .slick-arrow{
         display: none !important;
      }
      .slick-dots{
         display: none !important;
      }
   }
   &__testimonial{
      margin-top: 24px;
      box-shadow: 0px 6px 35px rgba(37, 155, 151, 0.1);
      margin: 0 32px;
   }
   &__testimonial-in{
      position: relative;
      display: flex;
      width: 100%;
      padding: 32px 24px;
      
      p{
         margin-bottom: 16px;
      }
   }
   &__testimonial-cont{
      flex: 1;
      margin-left: 24px;
      margin-top: 42px;
   }
   &__testimonial-qt{
      height: 50px;
      width: 50px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='69' height='55' viewBox='0 0 69 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 54.25V36.5C0.75 29.6667 1.83333 23.3333 4 17.5C6.33333 11.6667 10.25 5.91666 15.75 0.25L25.5 7.5C21.1667 12.3333 18.1667 16.75 16.5 20.75C15 24.5833 14.25 28.6667 14.25 33L8.25 28.75H26.25V54.25H0.75ZM42.75 54.25V36.5C42.75 29.6667 43.8333 23.3333 46 17.5C48.3333 11.6667 52.25 5.91666 57.75 0.25L67.5 7.5C63.1667 12.3333 60.1667 16.75 58.5 20.75C57 24.5833 56.25 28.6667 56.25 33L50.25 28.75H68.25V54.25H42.75Z' fill='%23259B97'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
   }
   &__testimonial-info{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-style: italic;
   }
   &__testimonial-author{
      font-size: 14px;
      margin-bottom: 0 !important;
   }
   &__testimonial-desig{
      font-size: 14px;
   }
   
}