.hl-ourjourney{
   padding: $spacer-5 0;

   &__timeline{
      width: 100%;
      margin: 0 auto;
      padding: 32px 0;
   }
   &__milestone{
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      background-image: none !important;
      padding: 0px 96px 0px 0;  
      margin-bottom: 60px;    
      
      &:nth-child(even){
        flex-direction: row-reverse;
        .hl-ourjourney__yr{
         position: absolute;
         top: 60%;
         right: -120px;
         transform: translateY(-50%);
         width: 240px;
         img{
            width: 100%;
         }
        }
         p{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 160px;
            max-width: 70%;
            border-top: 2px dashed var(--color-accent);
            border-bottom: 2px solid var(--color-accent);
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
            border-left: 2px dashed var(--color-accent);
            padding: 32px 44px;
   
            &::before{
               content: "";
               position: absolute;
               top: -8px;
               right: -16px;
               width: 16px;
               height: 16px;
               border-radius: 50%;
               border: 2px solid var(--color-accent);
               background-color: var(--color-accent);
            }
            &::after{
               content: "";
               position: absolute;
               bottom: -8px;
               right: -16px;
               width: 16px;
               height: 16px;
               border-radius: 50%;
               border: 2px solid var(--color-accent);
            }
   
            span{
               position: absolute;
               left: -8px;
               display: block;
               border: 2px solid var(--color-accent);
               background-color: rgb(255, 255, 255);
               width: 16px;
               height: 16px;
               border-radius: 50%;
            }
         }
      }

      &:nth-child(odd){
         margin-left: auto;
         background-position: right;
         flex-direction: row;
         .hl-ourjourney__yr{
            position: absolute;
            top: 60%;
            left: -180px;
            transform: translateY(-50%);
            width: 240px;
            img{
               width: 100%;
            }
         }
         p{
            position: relative;
            display: flex;
            align-items: center;
            min-height: 160px;
            max-width: 70%;
            border-top: 2px dashed var(--color-accent);
            border-bottom: 2px solid var(--color-accent);
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
            border-right: 2px dashed var(--color-accent);
            padding: 32px 44px;
   
            &::before{
               content: "";
               position: absolute;
               top: -8px;
               left: -8px;
               width: 16px;
               height: 16px;
               border-radius: 50%;
               border: 2px solid var(--color-accent);
               background-color: var(--color-accent);
            }
            &::after{
               content: "";
               position: absolute;
               bottom: -8px;
               left: -16px;
               width: 16px;
               height: 16px;
               border-radius: 50%;
               border: 2px solid var(--color-accent);
            }
   
            span{
               position: absolute;
               right: -8px;
               display: block;
               border: 2px solid var(--color-accent);
               background-color: rgb(255, 255, 255);
               width: 16px;
               height: 16px;
               border-radius: 50%;
            }
         }
      }
   }
}

@include mobile-tablet{
   .hl-ourjourney{
      &__milestone{
         padding: 0;
         width: 100%;
         margin-bottom: 24px;
         &:nth-child(even){
            flex-direction: column;
            .hl-ourjourney__yr{
               position: static;
               transform: none;
               img{
                  width: 100%;
               }
            }
            p{
               max-width: 90%;
            }
         }
         &:nth-child(odd){
            flex-direction: column;
            .hl-ourjourney__yr{
               position: static;
               transform: none;
               img{
                  width: 100%;
               }
            }
            p{
               max-width: 90%;
            }
         }
      }
   }
}