.hl-terms {
    margin-top: $spacer-5;
    .hl-heading {
        text-align: center;
    }
    &__txt {
        color: $color-temp-black;
        &.mt {
            margin-bottom: $spacer-4;
        }
    }
    &__contents {
        margin-bottom: $spacer-4;
        &:last-child {
            margin-bottom: $spacer-5;
        }
    }
    &__head {
        font-size: 22px;
        line-height: 26px;
        color: $color-black;
        margin-bottom: $spacer-3;
        font-weight: $font-bold;
    }
}

@include tablet-desktop {
    .hl-terms {
        &__head {
            font-size: 24px;
            line-height: 28px;
        }
    }
}